[Unit]
Description=Spotiffee
After=gnome-session-initialized.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/env spotiffee

[Install]
WantedBy=gnome-session-initialized.target
